<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/home.js' %}" defer></script>
</head>
<body>
<header>
    <div class="header-container">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
        <form method="get" action="{% url 'settings' %}">
            <button type="submit">Настройки</button>
        </form>
        <h1>Привет, {{ user.first_name }}</h1>
    </div>
</header>

<main>
    <section class="form-section">
        <h2>Добавьте расходы или зарплату</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="money">Введите сумму</label>
                <input type="number" step="0.01" name="money" id="money" required>
            </div>
            <div class="form-group">
                <label for="category_in">Категории:</label>
                <select name="category_in" id="category_in">
                    <option value="">No category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Комментарий:</label>
                <input type="text" name="comment" id="comment">
            </div>
            <div class="form-group">
                <label for="income">Доход?</label>
                <input type="checkbox" name="income" id="income">
            </div>
            <button type="submit" class="btn">Добавить</button>
        </form>
    </section>

    <div class="tabs">
        <div class="tab active" data-tab="personal-expenses">Мои расходы</div>
        <div class="tab" data-tab="group-expenses">Расходы группы</div>
    </div>

    <section id="personal-expenses" class="tab-content active">
        <h3>Таблица моих расходов:</h3>
        <table>
            <thead>
            <tr>
                <th>Сумма</th>
                <th>Категория</th>
                <th>Комментарий</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in personal_expenses %}
            <tr>
                <td>
                    {% if not expense.income %}
                    -{{ expense.money|floatformat:2 }}
                    {% else %}
                    {{ expense.money|floatformat:2 }}
                    {% endif %}
                </td>
                <td>
                    {% if expense.category %}
                    {{ expense.category.name }}
                    {% else %}
                    No category
                    {% endif %}
                </td>
                <td>{{ expense.comment }}</td>
                <td>{{ expense.date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="group-expenses" class="tab-content">
        <h3>Таблица расходов группы:</h3>
        <div class="group-select">
            <label for="group-select">Выберите группу:</label>
            <select id="group-select">
                {% for group in user_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        <table>
            <thead>
            <tr>
                <th>Сумма</th>
                <th>Категория</th>
                <th>Комментарий</th>
                <th>Дата</th>
                <th class="filter-dropdown">Участник
                    <div class="filter-options">
                        {% for user in users_in_group %}
                        <label>
                            <input type="checkbox" class="participant-filter" value="{{ user.id }}" checked>
                            {{ user.first_name }} {{user.last_name}}
                        </label>
                        {% endfor %}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="group-expenses-body">
            {% for group_expense in group_expenses %}
            <tr data-group-id="{{ group_expense.user.id }}">
                <td>
                    {% if not group_expense.income %}
                    -{{ group_expense.money|floatformat:2 }}
                    {% else %}
                    {{ group_expense.money|floatformat:2 }}
                    {% endif %}
                </td>
                <td>
                    {% if group_expense.category %}
                    {{ group_expense.category.name }}
                    {% else %}
                    No category
                    {% endif %}
                </td>
                <td>{{ group_expense.comment }}</td>
                <td>{{ group_expense.date }}</td>
                <td>{{ group_expense.user.get_full_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>

<footer>
    <p>&copy; 2025 Expense Tracker</p>
</footer>
</body>
</html>
