<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>
<h1>Welcome, {{ user }}</h1>

<form method="post">
    {% csrf_token %}
    <h2>Добавьте расходы или зарплату</h2>

    <label for="money">Введите сумму</label>
    <input type="number" step="0.01" name="money" id="money" required>

    <label for="category_in">Категории:</label>
    <select name="category_in" id="category_in">
        <option value="">No category</option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>

    <label for="comment">Комментарий:</label>
    <input type="text" name="comment" id="comment">

    <label for="income">Доход?</label>
    <input type="checkbox" name="income" id="income">

    <button type="submit">Добавить</button>
</form>

<h3>Таблица расходов:</h3>
<table border="1">
    <thead>
        <tr>
            <th>Сумма</th>
            <th>Категория</th>
            <th>Комментарий</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.money }}</td>
            <td>{{ expense.category.name}}</td>
            <td>
                <option value="{{ category.id }}">{{ category.name }}</option>
            </td>
            <td>{{ expense.date }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
